<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <title>Pending Approval</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:9292/browse">PROPERTY LIST <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form action="/logout" method="post">
            <input type="submit" value="Logout" class="button">
          </form>
        </div>
    </nav>

BOOKINGS

    <div class="col-md-4 mx-auto">
      <% @bookings.each do |booking| %>
      <% if booking.user_id == @user_id %>
      <div class="card mb-3">
        <% @properties.each do |property| %>
        <% if booking.property_id == property.id %>
        <h3 class="card-header"> <%= property.name %></h3>
        <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <% @property_owner.each do |prop_owner| %>
          <% if booking.property_owner_id == prop_owner.id %>
          <p>host's name: <%= prop_owner.name %></p>
          <p>Start date: <%= booking.start_date %> </p>
          <p>End date: <%= booking.end_date %> </p>

          <!-- <p>END DATE :</p> -->
        <img style="height: 200px; width: 100%; display: block;" src="<%= booking.images %>" alt="Card image">
        <div class="card-body"></div>
        <div class="card-footer text-muted">
          Contact host: <%= prop_owner.email %>
        </div>
      </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    </div>

  </body>
</html>
